@model PagedList.IPagedList<Ecommerce.Models.TinTuc>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper" style="width: 1100px">
            <div class="page-header">
                <h3 class="page-title"> Danh sách Tin Tức </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/Admin/HomeAdmin">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Danh sách Tin Tức</li>
                    </ol>
                </nav>
            </div>

            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between" style="margin-bottom: 30px">
                                <h4 class="card-title" style="margin-bottom: 0">Danh sách tin tức</h4>
                                <a href="~/Admin/AdminTinTucs/Create" class="btn btn-primary">Thêm mới</a>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th style="width: 32%">Tiêu đề</th>
                                            <th>Ngày tạo</th>
                                            <th>Trạng thái</th>
                                            <th>Mới nhất</th>
                                            <th>nguồn cấp dữ liệu mới</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody style="vertical-align: middle">
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.PostID</td>
                                                    <td>@item.Title</td>
                                                    <td>@item.CreatedDate.Value.ToShortDateString()</td>
                                                    <td>
                                                        @if (item.Published == true)
                                                        {
                                                            <div class="d-flex align-items-center">
                                                                <div style="width: 8px; height: 8px; margin-right: 6px" class="bg-success rounded-circle"></div>
                                                                <div>Cộng đồng</div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="d-flex align-items-center">
                                                                <div style="width: 8px; height: 8px; margin-right: 6px" class="bg-danger rounded-circle"></div>
                                                                <div>Không công khai</div>
                                                            </div>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.isHot == true)
                                                        {
                                                            <div class="d-flex align-items-center">
                                                                <div style="width: 8px; height: 8px; margin-right: 6px" class="bg-success rounded-circle"></div>
                                                                <div> Tin tức nóng nhất</div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="d-flex align-items-center">
                                                                <div style="width: 8px; height: 8px; margin-right: 6px" class="bg-danger rounded-circle"></div>
                                                                <div>Tin tức không nóng</div>
                                                            </div>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.isNewFeed == true)
                                                        {
                                                            <div class="d-flex align-items-center">
                                                                <div style="width: 8px; height: 8px; margin-right: 6px" class="bg-success rounded-circle"></div>
                                                                <div>Cập nhật</div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="d-flex align-items-center">
                                                                <div style="width: 8px; height: 8px; margin-right: 6px" class="bg-danger rounded-circle"></div>
                                                                <div>Chưa cập nhật</div>
                                                            </div>
                                                        }
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-success m-2" href="~/Admin/AdminTinTucs/Details/@item.PostID">View</a>
                                                        <a class="btn btn-outline-warning m-2" href="~/Admin/AdminTinTucs/Edit/@item.PostID">Edit</a>
                                                        <a class="btn btn-outline-danger m-2" href="~/Admin/AdminTinTucs/Delete/@item.PostID">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>

                                @if (Model.PageCount > 1)
                                {
                                    <div class="btn-toolbar justify-content-center" role="toolbar">
                                        @if (Model.HasPreviousPage)
                                        {
                                            <div class="btn-group me-2" role="group" aria-label="Third group">
                                                <a class="btn btn-secondary" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })"><</a>
                                            </div>
                                        }

                                        @for (int i = 1; i <= Model.PageCount; i++)
                                        {
                                            <div class="btn-group me-2" role="group" aria-label="First group">
                                                <a class="btn @(Model.PageNumber == i ? "btn-primary" : "btn-secondary")" href="@Url.Action("Index", new { page = i })">@i</a>
                                            </div>
                                        }

                                        @if (Model.HasNextPage)
                                        {
                                            <div class="btn-group me-2" role="group" aria-label="Third group">
                                                <a class="btn btn-secondary" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">></a>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>


            </div>
    </div>
    </div>
</div>